<nav class="navigation" role="navigation">
    <ul class='nav-links'>
        <li data-level='0' class='item-parent'><a href=''>Home Page </a></li>
        <li data-level='0' class='item-parent'><a href=''>404 Not Found </a>

            <div class="drop-down large">
                <div class="mega-menu">
                    <div class='row 1'>
                        <div class='col-md-4'>
                            <div class='some-context'>Enable Cookies</div>
                        </div>
                    </div>
                    <div class='row 1'>
                        <div class='col-md-4'>
                            <div class='some-context'>Customer Service</div>
                        </div>
                    </div>
                    <div class='row 1'>
                        <div class='col-md-4'>
                            <div class='some-context'>Home Page</div>
                        </div>
                    </div>
                    <div class='row 1'>
                        <div class='col-md-4'>
                            <div class='some-context'>Enable Cookies</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li data-level='0' class='item-parent'><a href=''>Privacy Policy </a>

            <div class="drop-down large">
                <div class="mega-menu">
                    <div class='row 1'>
                        <div class='col-md-4'>
                            <div class='some-context'>About us</div>
                        </div>
                    </div>
                    <div class='row 1'>
                        <div class='col-md-4'>
                            <div class='some-context'>Customer Service</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
